.room {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}
.right {
  position: fixed;
  margin: 10px;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-secondary {
  width: 130px;
}
