canvas {
  border: 1px solid #ffffff;
}

.canvas-wrapper {
  position: relative;
  display: inline-block;
}

.replay-indicator {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 6px 10px;
  border-radius: 6px;

  background: rgba(0, 0, 0, 0.7);
  color: white;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;

  pointer-events: none; // important
}